[submodule "emacs-jabber"]
	path = emacs-jabber
	url = git://catap.ru/emacs-jabber/emacs-jabber.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "virtualenv"]
	path = virtualenv
	url = https://github.com/aculich/virtualenv.el.git
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "swank-js"]
	path = swank-js
	url = https://github.com/ivan4th/swank-js.git
[submodule "slime"]
	path = slime
	url = git://github.com/Lispython/slime.git
[submodule "auto-complete-modes/ac-slime"]
	path = auto-complete-modes/ac-slime
	url = git@github.com:Lispython/ac-slime.git
