[submodule "swank-js"]
	path = swank-js
	url = https://github.com/ivan4th/swank-js.git

[submodule "snippets/text-mode/go-mode"]
        path = snippets/text-mode/go-mode
        url = https://github.com/Lispython/go-mode-yasnippets.git
[submodule "ext/distel"]
	path = ext/distel
	url = https://github.com/massemanet/distel.git
