#files to ignoring
*.pyc
*.pyo
*.hg*
*.kpf
*.sock
*.conf
*.config
auto-save-list/*
.saves*
.dap-breakpoints
.lsp-session-v1
company-statistics-cache.el
projectile-bookmarks.eld
transient/*
#*#
*#*#
*~
*.elc
session.*
tramp
venv/*
venv
ac-comphist.dat
.cvsignore
venvs/*
node_modules/*

.emacs.desktop
.emacs.desktop.lock

elpa/*
url/*


.litable-lists.el
.mc-lists.el
recentf
eshell/*
games/*

autosave/*
backup/*